.bg-color{
    background-color:#24353f ;
}
.color-blue {
    color: #17a2b8;
}
.shd{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
input{
    background-color: #24353f !important;
    color: white !important;
}
input::placeholder{
    color: white !important;
}
input::-ms-fill{
    color: white;
}
.btn {
    border: 1px solid #17a2b8;
    border-radius: 5px;
}
.btn:hover{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}